<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Movies and Series Center</title>

    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'styles/auth.css' %}"> -->
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">

    <script src="{% static 'accounts/scripts/login.js' %}" defer></script>
</head>
<body>
    <div class="auth-container">

        <div class="auth-card" style="text-align: center;">
            <h2>Check your inbox.</h2>
            <p>
                We've emailed you instructions for setting your password. 
                You should receive the email shortly!
            </p>
        </div>

    </div>
</body>
</html>