{% extends 'layout.html' %}

{% load static %}

{% block title %}
Change Password
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/css/password_change_done.css' %}">
{% endblock styles %}

{% block scripts %}
<script src="{% static 'accounts/js/password_change_done.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
    <main>

        <h1>Password change successful</h1>
        <p>
            Your password was successfully changed. Next time you try to login, you should use your new password.
        </p>
        
    </main>
{% endblock content %}