<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Movies and Series Center</title>

    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'styles/auth.css' %}"> -->
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">

    <script src="{% static 'accounts/scripts/login.js' %}" defer></script>
</head>
<body>
    <div class="auth-container">

        <div class="auth-card">
            <h2 style="text-align: center;">MSC Set New Password</h2>
            <form action="" method="post" id="user-login-form" novalidate>
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit" title="Send instructions">Set password</button>
            </form>
        </div>

    </div>
</body>
</html>