<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Movies and Series Center</title>

    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'styles/auth.css' %}"> -->
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">

    <script src="{% static 'accounts/scripts/login.js' %}" defer></script>
</head>
<body>
    <div class="auth-container">

        <div class="auth-card" style="text-align: center;">
            <p>Your new password has been set.</p><br>
            <p>You can log in now on the <a href="{% url 'login' %}" style="color: #ff3d00;">Log In</a> page.</p>
        </div>

    </div>
</body>
</html>