{% extends 'layout.html' %}

{% load static %}

{% block title %}
{{ title}}
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/layout.css' %}">
{% endblock styles %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<main>
    <div class="auth-container create">
        <div class="auth-card">
            <h2>Update a movie</h2>
            <form action="" enctype="multipart/form-data" method="post" id="message-form" novalidate>
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit" title="Update a movie">Update</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}