.main-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
    padding: 4rem;
    align-items: start; /* prevents stretching */
}

/* PAGE HEADER */
.page-header {
    padding: 4rem;
    background: var(--bg-card);
    text-align: center;
}

.page-header h1 {
    font-size: 3.6rem;
}

/* CATEGORY PAGE */
.category-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.detail-content{
    position: relative;
}

.delete-link{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--text-main);
    padding: 1rem;
    background-color: var(--bg-transparent);
    border-radius: 1rem;
    letter-spacing: 2px;
}

.update-link{
    position: absolute;
    top: 2rem;
    right: 20rem;
    color: var(--text-main);
    padding: 1rem;
    background-color: var(--bg-transparent);
    border-radius: 1rem;
    letter-spacing: 2px;
}

.delete-btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 2rem;
}

@media screen and (max-width:60rem) {
    .main-layout{
        padding: 2rem;
        grid-template-columns: 1fr;
    }
}