{% extends 'layout.html' %}

{% load static %}

{% block title %}
{{ title}}
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'core/styles/index.css' %}">
{% endblock styles %}

{% block scripts %}
<script src="{% static 'core/scripts/index.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<main>
    <!-- HERO SECTION -->
    <section class="hero">
        <div class="hero-content">
            <div>
                <h1>Latest Movie and Series Updates</h1>
                <p>Your daily dose of movie news, leaks, and did you know facts.</p>
            </div>
        </div>
    </section>

    <!-- MAIN WRAPPER -->
<div class="main-layout">

    <!-- LEFT CONTENT -->
    <main class="main-content">

        <!-- FEATURED ARTICLE -->
        <section class="featured">
            <div class="featured-image">
                <img src="{{ trending_content.thumbnail.url }}" alt="{{ trending_content.title }}">
            </div>
            <div class="featured-info">
                <span class="tag"><i class="fas fa-arrow-turn-up"></i> Trending now | {{ trending_content.category }}</span>
                <h2>{{ trending_content.title }}</h2>
                <a href="{% url 'content:story-detail' trending_content.id %}">Read Full Story</a>
            </div>
        </section>

        <!-- FEATURED BOTTOM AD -->
        <div class="ad ad-horizontal">
            <p>Advertisement</p>
            <!-- Google AdSense Code Here -->
        </div>

        <!-- Subscription to newsletter -->
        <section class="newsletter-section">
            <h3>Subscribe to our Newsletter</h3>
            <p>Get notified when we publish new post.</p>

            <form id="newsletterForm" method="POST">
                {% csrf_token %}
                <input type="email" id="subscriberEmail" placeholder="Enter your email" required>
                <div class="loader"></div>
                <button type="submit">Subscribe</button>
            </form>

            <div id="newsletterMessage">
            </div>
        </section>


        <!-- POSTS GRID -->
        <section id="posts_container">
            <!-- JS inserts posts here -->
            <section class="posts-section">
                <h3>Movies</h3>
                <div  class="posts" id="movies_container"></div>
                <div class="posts">
                    {% for movie in movies %}
                        <a href="{% url 'content:movie-detail' movie.id %}" class="post-card">
                            <img src="{{ movie.thumbnail.url }}" alt="{{ movie.title }}">
                            <div class="content">
                                <h4>{{ movie.title }}</h4>
                            </div>
                        </a>
                    {% empty %}
                        <p>No movie available.</p>
                    {% endfor %}
                </div>
                {% if movies.count >= 15 %}
                    <div style="position: relative; width: max-content;">
                        <a href="" class="explore-more-link">Explore more <i class="fas fa-arrow-right"></i></a>
                    </div>
                {% endif %}
            </section>

            <!-- Series section -->
            <section class="posts-section">
                <h3>Series</h3>
                <div  class="posts" id="series_container"></div>
                <div class="posts">
                    {% for series in series %}
                        <a href="{% url 'content:series-detail' series.id %}" class="post-card">
                            <img src="{{ series.thumbnail.url }}" alt="{{ series.title }}">
                            <div class="content">
                                <h4>{{ series.title }}</h4>
                            </div>
                        </a>
                    {% empty %}
                        <p>No series available.</p>
                    {% endfor %}
                </div>
                {% if series.count >= 15 %}
                    <div style="position: relative; width: max-content;">
                        <a href="" class="explore-more-link">Explore more <i class="fas fa-arrow-right"></i></a>
                    </div>
                {% endif %}
            </section>

            <!-- Facts section -->
            <section class="posts-section">
                <h3>Facts</h3>
                <div  class="posts" id="facts_container"></div>
                <div class="posts">
                    {% for fact in facts %}
                        <a href="{% url 'content:fact-detail' fact.id %}" class="post-card">
                            <img src="{{ fact.thumbnail.url }}" alt="{{ fact.title }}">
                            <div class="content">
                                <h4>{{ fact.title }}</h4>
                            </div>
                        </a>
                    {% empty %}
                        <p>No fact available.</p>
                    {% endfor %}
                </div>
                {% if facts.count >= 15 %}
                    <div style="position: relative; width: max-content;">
                        <a href="" class="explore-more-link">Explore more <i class="fas fa-arrow-right"></i></a>
                    </div>
                {% endif %}
            </section>

            <!-- Stories section -->
            <section class="posts-section">
                <h3>Stories</h3>
                <div  class="posts" id="stories_container"></div>
                <div class="posts">
                    {% for story in stories %}
                        <a href="{% url 'content:story-detail' story.id %}" class="post-card">
                            <img src="{{ story.thumbnail.url }}" alt="{{ story.title }}">
                            <div class="content">
                                <h4>{{ story.title }}</h4>
                            </div>
                        </a>
                    {% empty %}
                        <p>No story available.</p>
                    {% endfor %}
                </div>
                {% if stories.count >= 15 %}
                    <div style="position: relative; width: max-content;">
                        <a href="" class="explore-more-link">Explore more <i class="fas fa-arrow-right"></i></a>
                    </div>
                {% endif %}
            </section>

            <!-- Leaks section -->
            <section class="posts-section">
                <h3>Leaks</h3>
                <div  class="posts" id="leaks_container"></div>
                <div class="posts">
                    {% for leak in leaks %}
                        <a href="{% url 'content:leak-detail' leak.id %}" class="post-card">
                            <img src="{{ leak.thumbnail.url }}" alt="{{ leak.title }}">
                            <div class="content">
                                <h4>{{ leak.title }}</h4>
                            </div>
                        </a>
                    {% empty %}
                        <p>No leak available.</p>
                    {% endfor %}
                </div>
                {% if leaks.count >= 15 %}
                    <div style="position: relative; width: max-content;">
                        <a href="" class="explore-more-link">Explore more <i class="fas fa-arrow-right"></i></a>
                    </div>
                {% endif %}
            </section>
        </section>

    </main>

    <!-- SIDEBAR -->
    <aside class="sidebar">
        <h3 style="display: none;">Trending Now</h3>
        <ul style="display: none;">
            <li><a href=""><i class="fas fa-fire"></i> Top 10 Movies This Week</a></li>
            <!-- <li><a href=""><i class="fas fa-mosquito"></i> Casting Rumors</a></li>
            <li><a href=""><i class="fas fa-video"></i> Trailer Breakdowns</a></li> -->
            <li><a href=""><i class="fas fa-bomb"></i> Biggest Leaks</a></li>
        </ul>
        <!-- SIDEBAR AD -->
        <div class="ad ad-sidebar">
            <p>Advertisement</p>
            <!-- Google AdSense Code Here -->
        </div>
    </aside>


</div>
</main>
{% endblock content %}