{% extends 'layout.html' %}

{% load static %}

{% block title %}
{{ title}}
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'content/styles/styles.css' %}">
{% endblock styles %}

{% block scripts %}
<script src="{% static 'content/scripts/content.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<main>
    <section class="page-header">
        <h1>Did You Know?</h1>
    </section>

    <div class="main-layout">

        <main class="category-content">

            <div class="ad ad-horizontal">
                <p>Advertisement</p>
            </div>

            <section id="posts_container" class="posts"></section>

        </main>

        <aside class="sidebar">
            <div class="ad ad-sidebar">
                <p>Advertisement</p>
            </div>
        </aside>

    </div>
</main>
{% endblock content %}