* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --transition: 0.3s ease;
    --radius: 14px;
}

/* ===== DARK THEME (Default) ===== */
body.dark {
    --bg-main: #0f0f0f;
    --bg-card: #1a1a1a;
    --bg-soft: #151515;
    --bg-ad: rgba(255,255,255,0.1);
    --bg-ad-soft: rgba(255,255,255,0.05);
    --text-main: #ffffff;
    --text-muted: #aaaaaa;
    --accent: #ff3d00;
    --accent-gradient: linear-gradient(90deg, #ff3d00, #ff9100);
}

/* ===== LIGHT THEME ===== */
body.light {
    --bg-main: #f5f5f5;
    --bg-card: #ffffff;
    --bg-soft: #eaeaea;
    --bg-ad: rgba(0,0,0,0.1);
    --bg-ad-soft: rgba(0,0,0,0.05);
    --text-main: #111111;
    --text-muted: #555555;
    --accent: #ff3d00;
    --accent-gradient: linear-gradient(90deg, #ff3d00, #ff9100);
}


html {
    scroll-behavior: smooth;
    line-height: 1.4;
    font-size: 62.5%;
}

::-webkit-search-cancel-button{
    display: none;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.6s ease;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg-soft);
    color: var(--text-main);
    line-height: 1.6;
    transition: var(--transition);
    transition: background 0.4s ease, color 0.4s ease;
}

button {
    transition: var(--transition);
}

button:active {
    transform: scale(0.95);
}

main{
    font-size: 1.6rem;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--bg-main);
    margin-top: 40px;
    font-size: 1.6rem;
}

footer div{
    padding: 2rem;
}

footer ul{
    display: flex;
    list-style-type: none;
    margin: auto;
    width: fit-content;
    gap: 10rem;
}

footer ul li a{
    color: var(--text-main);
    transition: color 500ms ease-in-out;
}

footer ul li a:hover{
    color: var(--accent);
}

/* MAIN LAYOUT */
.main-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
    padding: 4rem;
    align-items: start; /* prevents stretching */
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* ================= POSTS ===================== */
.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.post-card {
    background: var(--bg-card);
    border-radius: var(--radius);
    display: block;
    overflow: hidden;
    transition: var(--transition);
    cursor: pointer;
    color: var(--text-muted);
    position: relative;
}

.post-card img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    transition: var(--transition);
}

.post-card:hover img {
    transform: scale(1.05);
}

.post-card .content {
    padding: 2rem;
}

.post-card .post-type{
    position: absolute;
    top: 2rem;
    left: 0;
    background: var(--accent-gradient);
    color: white;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    font-size: 1.6rem;
}

.post-card h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.post-card p {
    color: var(--text-muted);
    font-size: 1.4rem;
}

.post-card p,
.meta {
    color: var(--text-muted);
}

.post-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.6);
}

.detail-content {
    padding: 40px;
    background: #1e1e1e;
    border-radius: 12px;
}

.detail-image {
    width: 100%;
    margin: 20px 0;
    border-radius: 12px;
}

.create-container {
    max-width: 800px;
    margin: auto;
    padding: 60px;
    background: var(--bg-card);
    border-radius: var(--radius);
}

.create-container input,
.create-container select,
.create-container textarea,
.auth-card textarea, .auth-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    background: var(--bg-main);
    border: 1px solid #333;
    color: var(--text-main);
    resize: none;
}

.create-container button {
    padding: 12px;
    background: var(--accent-gradient);
    border: none;
    color: white;
    cursor: pointer;
    transition: opacity 500ms ease-in-out;
}

.create-container button:hover {
    opacity: 0.8;
}

/* AUTH PAGES */
.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #111, #1e1e1e);
    color: white;
    font-size: 1.6rem;
}

.auth-card h2{
    margin-bottom: 2rem;
}

.auth-card input {
    width: 100%;
    padding: 1.2rem;
    margin: 1rem 0;
    background: #111;
    border: 1px solid #333;
    color: white;
}

.auth-card button {
    width: 100%;
    padding: 1.2rem;
    background: #ff3d00;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
}

.auth-card {
    background: rgba(30,30,30,0.8);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.05);
    padding: 5rem;
    border-radius: var(--radius);
    transition: var(--transition);
    width: 40rem;
}

/* .auth-card label{
    display: block;
    text-align: start;
} */

.auth-card input:focus,
.auth-card textarea:focus {
    outline: none;
    border: 1px solid var(--accent);
}

.auth-card form button[type='submit'] {
    background: linear-gradient(90deg, #ff3d00, #ff9100);
    border-radius: 8px;
    transition: background 2000ms ease-in-out;
    font-size: 1.6rem;
}

.auth-card form button[type='submit']:hover {
    background: linear-gradient(90deg, #ff9100, #ff3d00);
}

.auth-card form div{
    margin-bottom: 2rem;
}

.auth-card .errorlist li{
    list-style: none;
    color: white;
    background-color: red;
    padding: 0.5rem;
}

.auth-card .errorlist.nonfield{
    margin-bottom: 1rem;
}

.auth-card fieldset{
    border: none;
    border-top: 1px solid;
    text-align: center;
    margin-top: 2rem;
}

.auth-card fieldset legend{
    text-align: center;
    padding: 0 0.3rem;
}

.auth-card fieldset p a{
    color: #ff3d00;
}

.auth-card .helptext{
    display: none;
}

/* PAGE HEADER */
.page-header {
    padding: 4rem;
    background: var(--bg-card);
    text-align: center;
}

.page-header h1 {
    font-size: 36px;
}

/* CATEGORY PAGE */
.category-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media(max-width: 900px) {
    h1 {
        font-size: 2rem;
    }

    .hero{
        height: 20rem;
    }

    .hero p{
        font-size: 1.6rem;
    }

    .featured{
        height: auto;
    }

    .featured-info h2{
        margin: 0;
        font-size: 2.2rem;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .main-layout{
        grid-template-columns: 1fr;
        padding: 2rem;
    }

    .sidebar{
        display: none;
    }

    .page-header{
        padding: 2rem;
    }

    .media-hero{
        margin: 1rem;
        height: 30rem;
    }

    .media-overlay{
        padding: 2rem;
        bottom: 2rem;
        left: 2rem;
    }

    .media-content{
        padding: 2rem;
    }

    .cast-grid{
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .auth-container{
        padding: 2rem;
    }

    .auth-card{
        width: 100%;
        padding: 2rem;
    }
}