* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --transition: 0.3s ease;
    --radius: 14px;
}

/* ===== DARK THEME (Default) ===== */
body.dark {
    --bg-main: #0f0f0f;
    --bg-card: #1a1a1a;
    --bg-soft: #151515;
    --bg-ad: rgba(255,255,255,0.1);
    --bg-ad-soft: rgba(255,255,255,0.05);
    --text-main: #ffffff;
    --text-muted: #aaaaaa;
    --accent: #ff3d00;
    --accent-gradient: linear-gradient(90deg, #ff3d00, #ff9100);
}

/* ===== LIGHT THEME ===== */
body.light {
    --bg-main: #f5f5f5;
    --bg-card: #ffffff;
    --bg-soft: #eaeaea;
    --bg-ad: rgba(0,0,0,0.1);
    --bg-ad-soft: rgba(0,0,0,0.05);
    --text-main: #111111;
    --text-muted: #555555;
    --accent: #ff3d00;
    --accent-gradient: linear-gradient(90deg, #ff3d00, #ff9100);
}


html {
    scroll-behavior: smooth;
    line-height: 1.4;
    font-size: 62.5%;
}

::-webkit-search-cancel-button{
    display: none;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.6s ease;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg-soft);
    color: var(--text-main);
    line-height: 1.6;
    transition: var(--transition);
    transition: background 0.4s ease, color 0.4s ease;
}

button {
    transition: var(--transition);
}

button:active {
    transform: scale(0.95);
}

main{
    font-size: 1.6rem;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--bg-main);
    margin-top: 40px;
    font-size: 1.6rem;
}

footer div{
    padding: 2rem;
}

footer ul{
    display: flex;
    list-style-type: none;
    margin: auto;
    width: fit-content;
    gap: 10rem;
}

footer ul li a{
    color: var(--text-main);
    transition: color 500ms ease-in-out;
}

footer ul li a:hover{
    color: var(--accent);
}

/* MAIN LAYOUT */
.main-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
    padding: 4rem;
    align-items: start; /* prevents stretching */
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* ================= POSTS ===================== */
.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.post-card {
    background: var(--bg-card);
    border-radius: var(--radius);
    display: block;
    overflow: hidden;
    transition: var(--transition);
    cursor: pointer;
    color: var(--text-muted);
    position: relative;
}

.post-card img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    transition: var(--transition);
}

.post-card:hover img {
    transform: scale(1.05);
}

.post-card .content {
    padding: 2rem;
}

.post-card h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.post-card p {
    color: var(--text-muted);
    font-size: 1.4rem;
}

.post-card p,
.meta {
    color: var(--text-muted);
}

.post-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.6);
}
