.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    background: var(--bg-main);
    transition: var(--transition);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 5;
}

.popup-nav{
    position: absolute;
    top:5rem;
    background: var(--bg-main);
    box-shadow: 0 0 10px var(--text-main);
    border-radius: 1rem;
    transition: var(--transition);
    font-size: 1.6rem;
    display: none;
}

.popup-nav ul{
    list-style: none;
}

.popup-nav ul li a{
    padding: 1rem 2rem;
    color: var(--text-main);
    transition: 500ms ease-in-out;
    display: block;
}

.popup-nav ul li:first-child a{
    border-radius: 1rem 1rem 0 0;
}

.popup-nav ul li:last-child a{
    border-radius: 0 0 1rem 1rem;
}

.popup-nav ul li a:hover{
    color: var(--accent);
    background-color: var(--bg-soft);
}

.nav ul, .left-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.left-links button {
    background-color: transparent;
    border: none;
    color: var(--text-main);
    transition: color 500ms ease-in-out;
    display: none;
}

.nav a, .left-links a{
    text-decoration: none;
    color: var(--text-main);
    position: relative;
    font-weight: 500;
    transition: color 500ms ease-in-out;
    font-size: 1.6rem;
}

.left-links a{
    font-weight: 600;
}

.nav a:hover,
.left-links a:hover, .left-links button:hover {
    color: var(--accent);
}

.nav a::after, .left-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: var(--accent);
    transition: var(--transition);
}

.nav a:hover::after, .left-links a:hover::after {
    width: 100%;
}

.theme-toggle,
.search-toggle {
    background: var(--bg-main);
    border: none;
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: var(--transition);
    color: var(--text-main);
}

.theme-toggle:hover {
    transform: rotate(20deg);
}

.search-box{
    position: fixed;
    width: 100%;
    height: 100dvh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 5;
    display: none;
}

.search-box .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
}

.search-box form{
    position: relative;
    width: 50%;
}

.search-box .close-search{
    background-color: var(--text-main);
    color: var(--bg-main);
    padding: 1rem;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box .close-search:hover{
    transform: scale(1.1);
}

.search-box input{
    padding: 2rem;
    padding-right: 6rem;
    font-size: 1.6rem;
    border: 1px solid var(--text-main);
    /* border-radius: 1rem; */
    outline-color: var(--accent);
    background-color: var(--bg-soft);
    color: var(--text-main);
    width: 100%;
}

.search-box input::placeholder{
    color: var(--text-main);
}

.search-box button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.6rem;
    color: var(--text-main);
}

@media screen and (max-width:60rem) {
    .header{
        padding: 1rem 2rem;
    }

    .nav{
        display: none;
    }

    .left-links button{
        display: inline-block;
    }

    .search-box{
        height: 100dvh;
    }

    .search-box form{
        width: 100%;
    }
}